<!DOCTYPE html>
<html>
<head>
    <title>Time Zone Viewer</title>
    <script type="text/javascript">
        var require = {
            config: {
                'controllers/Application': {
                    tzs: '@routes.Application.tzs()'
                }
            }
        };
    </script>
    <script data-main='@routes.Assets.at("javascripts/main.js")' type='text/javascript'
            src='@routes.WebJarAssets.requirejs()'></script>
    <link href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))' rel="stylesheet" type="text/css">
</head>
<body ng-controller="Application">
<button ng-click="listAllTzs()">fetch</button>
<table class="table table-striped">
    <caption>Time Zones</caption>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="tz in tzs">
        <td>{{tz.id}}</td>
        <td>{{tz.name}}</td>
    </tr>
    </tbody>
</table>
</body>
</html>